
@import url('https://fonts.googleapis.com/css?family=Numans');
.back{
max-height:100%;
max-width:100%;
}
body{
  background-image: url('../../assets/Images/apparel.jpg');
height: 750px;
font-family: 'Numans', sans-serif;
background-size: 100%;
background-repeat: no-repeat;
padding:95px;

}

.container{
height: 100%;
align-content: center;
}

.card{
height: 250px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}




.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: grey;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
  height: 35px;
color: black;
background-color: grey;
width: 100px;
}

.login_btn:hover{
color: white;
background-color: blue;
}

::-webkit-input-placeholder {
  color: peachpuff;
  font-size: 15px;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.form-control{
  height:35px;
}
input[type="submit"] {
  font-size: 15px;

}

.logo{
  font-family: 'Sofia';font-size: 65px;
  color: white;
}
