.container{
  margin-top: 50px;
  margin-left: 50px;
}
button.qty-change{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #e3e3e3;
}

.qty-input{
  height: 30px;
  width: 80px;
  text-align: center;
}
