.colorgray{
  background-color:#F4F6F6;
}

.btnclass{
  margin:0 0 40px 80px ;
  }

.elementsAlignedInThree{
  width: 310px;
  height:470px;
}
.image
{
  width: 200px;
  height: 200px;
}


.prodName{
  font-size: large;
  font-weight: bold;
  color:slategrey;
  text-align: center;
}
.prodPrice{
  font-size:medium;
  font-weight: lighter;
  color:darkslateblue;
  text-align: center;
}
